.star {
  position: absolute;
  background-color: khaki;
  border-radius: 50%;
  animation: moveStars 50s linear infinite;
}

@keyframes moveStars {
  0% {
      transform: translateX(0) translateY(0);
  }
  100% {
      transform: translateX(-100vw) translateY(-100vh);
  }
}

.beginner .star {
  background-color: khaki;
}

.intermediate .star {
  background-color: mediumseagreen;
  border-radius: 50%;
  animation: moveStars 20s linear infinite;
}

.advanced .star {
  background-color: tomato;
  border-radius: 50%;
  animation: moveStars 11s linear infinite;
}

.mixed .star {
  background-color: #000;
  border-radius: 50%;
  animation: moveStars 50s linear infinite;
}

.stars {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: -2;
  overflow: hidden;
}

body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
  position: relative;
  overflow-y: auto;
  background-color: #00bfff;
}

.status {
  display: flex;
  justify-content: center;
  gap: 30px;
  font-size: 24px;
  margin-bottom: 20px;
  color: #fff;
}

.correctCount {
  color: red;
  font-weight: 700;
}

.incorrectCount {
  color: blue;
  font-weight: 700;
}

.keyboard {
  display: grid;
  grid-template-columns: repeat(10, 100px);
  grid-gap: 10px;
  justify-content: center;
  margin-top: 20px;
}

.key {
  padding: 10px;
  border: 1px solid #fff;
  background-color: #043140a6;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.key:hover {
  background-color: #f1c40f;
}

.key img {
  width: 60px;
  height: 60px;
}

input[type="text"] {
  font-size: 36px;
  margin-top: 20px;
  width: 400px;
  height: 50px;
  text-align: center;
  border: 2px solid #ccc;
  border-radius: 10px;
  padding: 10px;
  background-color: #fff; 
  color: #333;
  transition: background-color 0.3s ease;
  -webkit-appearance: none; 
  -moz-appearance: none; 
  appearance: none; 
}

input[type="text"]:focus {
  background-color: #fff; 
  border-color: #4CAF50;
  outline: none;
}

#questionText {
  font-size: 48px;
  margin-top: 20px;
  color: #fff;
}

#resultImage {
  margin-top: 20px;
  display: inline-block;
  position: relative;
}

#correctImage,
#incorrectImage {
  position: absolute;
  top: -80px;
  left: 50%;
  transform: translateX(-50%);
  display: none;
}

#retryButton {
  display: none;
  margin-top: 20px;
}

#answerDisplay {
  font-size: 30px;
  color: #ff0;
  display: none;
}

#keyboardToggleButton {
  margin-top: 20px;
  font-size: 18px;
  padding: 10px 20px;
  background-color: #4CAF50;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#keyboardToggleButton:active {
  background-color: #45a049;
}

#backButton {
  display: none;
  margin-top: 20px;
}

.word-list {
  font-size: 18px;
  margin: 20px;
  background-color: #f4f4f4;
}

.word-list h1 {
  font-size: 36px;
  color: #333;
}

.word-list ul {
  list-style-type: none;
  padding: 0;
}

.word-list li {
  background-color: #fff;
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 24px;
}

.word-list .japanese {
  font-weight: 700;
}

.word-list .english {
  color: #555;
}

#keyboardToggleButton {
  background: #0f1bff;
  border: none;
  z-index: 1;
  width: 200px;
  height: 50px;
  line-height: 50px;
  color: #fff;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  text-align: center;
  position: relative;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: inset 2px 2px 2px 0 rgb(255 255 255 / .5), 7px 7px 20px 0 rgb(0 0 0 / .1), 4px 4px 5px 0 rgb(0 0 0 / .1);
}

#keyboardToggleButton:after {
  position: absolute;
  content: "";
  width: 0;
  height: 100%;
  top: 0;
  right: 0;
  z-index: -1;
  background-color: #ff3d3d;
  border-radius: 5px;
  box-shadow: inset 2px 2px 2px 0 rgb(255 255 255 / .5), 7px 7px 20px 0 rgb(0 0 0 / .1), 4px 4px 5px 0 rgb(0 0 0 / .1);
  transition: all 0.3s ease;
}

#keyboardToggleButton:hover {
  background: #fff0;
  color: #fff;
  box-shadow: none;
}

#keyboardToggleButton:hover:after {
  width: 100%;
  top: 0;
  height: 100%;
}

@media (max-width: 768px) {
    .keyboard {
        display: grid;
        grid-template-columns: repeat(9, minmax(30px, 1fr)); /* 1行9キーで調整 */
        gap: 13px; 
        width: 100%;
        max-width: 480px;
        padding: 50px;
        background-color: #f9e5b9;
        border-radius: 30px;
    }

    .key {
        width: 100%;
        aspect-ratio: 1 / 1.1; 
        font-size: 50px; 
        font-weight: bold;
        color: #a33c2a;
        background-color: #fff8dc;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 2px solid #d4a373;
        box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
        cursor: pointer;
        padding: 5px;
    }

    .key:active {
        background-color: #f3d9a8;
    }
    
    
    .key img {
        width: 130%; 
        height: auto;
    }
    
    .key.delete, .key.answer {
        grid-column: span 3;
        height: 45px;
        font-size: 15px;
    }

    .key.delete {
        background-color: #ff6666;
        color: white;
    }

    .key.answer {
        background-color: #66cc66;
        color: white;
    }
    
       .input[type="text"] {
        width: 100%;
        max-width: 300px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    
    .container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
}

#questionText {
    font-size: 36px;
    margin-bottom: 20px;
}

input[type="text"] {
    width: 80%;
    max-width: 300px;
}
